{%- assign safeurl = site.url | append: page.url | url_encode -%}
{%- assign safetitle = page.title | url_encode -%}
share &rarr;
<a href="https://twitter.com/intent/tweet?url={{ safeurl }}&amp;text={{ safetitle }}" onclick="window.open(this.href,'popup','width=600,height=600');return false;">x</a>
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}" onclick="window.open(this.href,'popup','width=600,height=600');return false;">linkedin</a>
<a href="mailto:?subject={{ safetitle }}&amp;body={{ safeurl }}">email</a>
